rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    // Default rule - deny access
    match /{allPaths=**} {
      allow read, write: if false;
    }
    
    // Allow read access to background images for everyone
    match /background-images/{imageId} {
      allow read: if true;
    }
    
    // Allow access to date photos
    match /date-photos/{dateId}/{imageId} {
      // Allow read and write access to everyone for simplicity
      allow read, write: if true;
    }
  }
}
